.container {
  padding: 0 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  width: 344px; /*NEED TO MAKE THIS ADJUSTABLE*/
}

.container:hover {
  background-color: var(--fds-black-alpha-05);
}

.container:hover .iconInnerContainer {
  background-color: var(--fds-black-alpha-10);
}

.iconContainer {
  height: 52px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 12px;
}
.iconInnerContainer {
  background-color: var(--disabled-background);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  font-family: "Segoe UI Historic";
  font-size: 15px;
  color: var(--primary-icon);
  font-weight: 600;
  line-height: 20px;
}
