.createStoryContainer {
  min-width: 140px;
  height: 250px;
  cursor: pointer;
  margin-right: 8px;
}

.createStoryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.116);
}

.upperStoryContent {
  position: relative;
  height: 201px;
  width: 100%;
  overflow: hidden;
}

.storyImageBackground {
  transition: transform 0.4s ease;
}
.createStoryContainer:hover .storyImageBackground {
  transform: scale(1.05);
}

.lowerStoryContent {
  position: relative;
  height: 49px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.createStoryText {
  font-size: 0.8125rem;
  font-family: "Segoe UI Historic";
  font-weight: 600;
  line-height: 1.2308;
  position: absolute;
  bottom: 8px;
  letter-spacing: 0.3px;
  /* color: #1c1e21; */
}

.addStoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: white;
  bottom: 30px;
  border-radius: 50%;
}

.addStoryPlus {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
}

.storyOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  pointer-events: none;
}
.createStoryContainer:hover .storyOverlay {
  background: rgba(0, 0, 0, 0.116);
}
