.container {
  padding: 0 8px;
}
.rowContainer {
  height: 52px;
  padding: 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  /* background-color: var(--disabled-background); */
}
.rowContainer:hover {
  background-color: var(--always-gray-95);
}

.iconContainer {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--disabled-background);
}

.outerIconContainer {
  margin: 8px 12px 8px 0;
}
.text {
  font-family: "Segoe UI Historic";
  font-size: 15px;
  font-weight: 600;
  color: #050505;
  line-height: 1.3333;
  letter-spacing: 0.2px;
}
