.container {
  position: relative;
  display: flex;
  margin-right: 12px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.profileImageWrapper {
  /* Adjust the size to maintain a perfect circle without cutting off the border */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(243, 227, 227, 0.575);
}

.profileImage {
  /* Adjust the size to fit within the border */
  height: 95%;
  width: 95%;
  object-fit: cover; /* Preserve aspect ratio and cover the entire space */
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.onlineBadge {
  position: absolute;
  bottom: 1px;
  right: 0px;
  background-color: white;
  border-radius: 50%;
  padding: 1px;
}

.onlineDot {
  width: 8px;
  height: 8px;
  background-color: #31a24c;
  border-radius: 50%;
  display: block;
  margin: auto;
}
