.main {
  padding-top: 56px;
}

.mainContentContainer {
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 32px;
  width: 932px;
}

.mainContentOverlay {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  box-sizing: content-box;
  width: 100%;
}

.sideBar {
  position: relative;
  top: 56px;
  bottom: 0;

  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.2);
}
