.container {
  position: relative;
  padding-top: 18px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.text {
  font-family: "Segoe UI Historic";
  color: var(--always-gray-40);
  line-height: 17px;
  font-size: 1.0625rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0 0 0 1px;
}

.icon {
  right: 4px;
  top: 8px;
  position: absolute;
}
