.sideBar {
  background-color: var(--always-gray-95);
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 360px;
  min-width: 360px;
}
.centerCol {
  background-color: lightgoldenrodyellow;
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2.5;
}

.sideBarContent {
  flex-grow: 1;
}
.pageListContainer {
  position: relative;
  margin-top: 16px;
}
.sideBar::-webkit-scrollbar {
  width: 16px;
}
.sideBar:hover::-webkit-scrollbar-track {
  display: block;
}

.sideBar:hover::-webkit-scrollbar-thumb {
  background-color: var(--fds-black-alpha-20);
  display: block;
}

.sideBar::-webkit-scrollbar-thumb {
  display: none;
  transition: background-color 1s ease;
  background-color: transparent;
  border: 4px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.sideBar::-webkit-slider-thumb {
  width: 6px !important;
}

.sideBar::-webkit-scrollbar-track {
  display: none;
  background-color: var(--fds-black-alpha-05);
}
.rowBtnContainer {
  margin: 0 8px;
}

.editBtn {
  color: var(--fds-blue-60);
  cursor: pointer;
}

.shortcutsHovered {
  padding: 6px;
  border-radius: 4px;
}

.editTextHovered {
  border-radius: 4px;
  padding: 6px;
  background-color: var(--fds-black-alpha-05);
}

.divider {
  margin: 8px 16px 0 16px;
  border-bottom: 1px solid var(--divider);
}

.headerContainer {
  position: relative;
  padding-left: 15px;
}

.listsContainer {
  margin-top: 6px;
}
.iconContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.sideBarFooter {
  width: 100%;
  padding: 16px;
  height: 57.25px;
}

.footerListItems {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  color: var(--always-gray-40);
}

ul.footerListItems > li {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  line-height: 1.2308;
  font-size: 13px;
}

ul.footerListItems > li > a {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
}

ul.footerListItems span {
  height: auto;
}

ul.footerListItems a span {
  line-height: 1.2308;
}
.dot {
  padding: 0 4px;
}

.ellipsisContainer {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ellipsisContainer:hover {
  background-color: var(--hover-overlay);
}

.feedContainer {
  position: relative;
  padding-top: 8px;
  width: 680px;
  background-color: pink;
  height: 100%;
}

.storyContainer {
  position: relative;
  padding: 8px 0;
  background-color: skyblue;
  overflow-x: auto;
  white-space: nowrap;
}
.storyListsContainer {
  background-color: rgb(205, 238, 127);
  padding: 8px 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.storyListsContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.createStoryContainer {
  position: relative;
  min-width: 140px;
  width: 140px;
  height: 250px;
  cursor: pointer;
  background-color: blueviolet;
  margin-right: 8px;
}
.createStoryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.116);
}

.upperStoryContent {
  position: relative;
  height: 201px;
  width: 100%;
  overflow: hidden;
}
.lowerStoryContent {
  position: relative;
  height: 49px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.addStoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  position: absolute;
  background-color: white;
  bottom: 30px;
  border-radius: 50%;
}
.addStoryPlus {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
}

.storyOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.2s ease;
  pointer-events: none;
}
.createStoryContainer:hover .storyOverlay {
  background: rgba(0, 0, 0, 0.116);
}

.storyImageBackground {
  transition: transform 0.4s ease;
}
.createStoryContainer:hover .storyImageBackground {
  transform: scale(1.05);
}
.createStoryText {
  font-size: 0.8125rem;
  font-family: "Segoe UI Historic";
  font-weight: 600;
  line-height: 1.2308;
  position: absolute;
  bottom: 8px;
  letter-spacing: 0.3px;
}

.navBtn {
  position: absolute;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--always-white);
  cursor: pointer;
}
.leftNavBtn {
  z-index: 3;
  left: 16px;
}

.rightNavBtn {
  z-index: 3;
  right: 16px;
}
