.sideBar {
  background-color: var(--always-gray-95);
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}
.centerCol {
  /* temporary borders */
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2.5;
}
.sideNavBar {
  margin-top: 16px;
}

.rowBtnContainer {
  margin: 0 8px;
}
