@font-face {
  src: url("/static/fonts/Segoe-UI-Historic.TTF"); /* Primary font */
  font-family: "Segoe UI Historic", "Questrial"; /* Fallback font */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    "Segoe UI Historic",
    "Questrial",
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
