.btnContainer {
  width: 130px;
  height: 56px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: "pink";
}

.btnContainer:hover {
  background-color: #f0f2f5;
}
